@charset "utf-8";

.box-landing{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.box-inputLanding{
    display: flex;
    flex-direction: row;
}
.input-landing{
    width: 500px;
    height: 40px;
    font-family: 'Poppins', sans-serif;
}
.input-landing:focus{
    outline: none;
}
.btn-landing{
    background-color:  #6930C3;
    text-decoration: none;
    text-transform: uppercase;
    color: #80FFDB;
    height: 46px;
    display: flex;
    align-items: center;
    justify-items: center;
    padding-right: 50px;
}
.btn-landing:hover{
    color: white;
    font-weight: 700;
    transition: 0.2s linear;
}